.main {
  display: flex;
}

.select {
  margin-left: 3rem;
}

.panel {
  position: fixed;
  bottom: 10px;
  left: 0;
}

.panel li {
  margin-left: 40px;
}

.field {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.mesto {
  font-weight: bold;
  background-color: cornflowerblue;
}

.buttons .check {
  margin-left: 50px;
}

.table {
  display: block;
  text-align: center;
  position: relative;
  left: 10px;
}

.tableNew {
  display: block;
  text-align: center;
  position: fixed;
  top: 155px;
}

.tableNew input {
  width: 45px;
}

.table table {
  border-spacing: 5px 5px;
}

.table td,
th {
  padding: 4px 15px;
  border: 1px solid #ccc;
}

.button {
  cursor: pointer;
  width: 120px;
  height: 45px;
  border-radius: 10px;
  outline: none;
}

.button:hover {
  background-color: azure;
}

.inputs input {
  width: 30px;
  margin-left: 10px;
}

.inputs li {
  line-height: 35px;
}

.table input {
  width: 20px;
}

ul {
  margin: 0;
  padding: 4px;
}

ul li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}

.tableStyle table {
  border-spacing: 5px 5px;
}

.tableStyle td,
th {
  padding: 2px 10px;
  border: 1px solid #ccc;
}

.vectorW {
  display: block;
  text-align: center;
  position: fixed;
  margin-top: 17px;
  margin-left: 700px;
  top: 150px;
}

.vectorAw {
  display: block;
  text-align: center;
  position: fixed;
  margin-top: 17px;
  margin-left: 930px;
  top: 150px;
}
.vectorL {
  display: block;
  text-align: center;
  position: fixed;
  margin-top: 17px;
  margin-left: 1200px;
  top: 150px;
}
.vectorK {
  display: block;
  text-align: center;
  position: fixed;
  margin-top: 310px;
  margin-left: 40px;
  top: 150px;
}

.X {
  display: block;
  position: fixed;
  margin-top: 130px;
  margin-left: 645px;
  top: 150px;
  font-size: 45px;
}

.equal {
  display: block;
  position: fixed;
  margin-top: 130px;
  margin-left: 890px;
  top: 150px;
  font-size: 45px;
}

.equalArrow {
  display: block;
  position: fixed;
  margin-top: 130px;
  margin-left: 1120px;
  top: 150px;
  font-size: 45px;
}

.tableElem {
  background-color: cornflowerblue;
  font-weight: 600;
}

.forTr tr {
  height: 27px;
}

.vectorTd td {
  width: 130px;
}

.vectors {
  margin-left: 70px;
}

.vectorK td {
  width: 54px;
  height: 25px;
}
